* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.form-container > h1 {
  text-align: center;
  color: black;
  border-bottom: 1px solid rgb(177, 177, 177);
  margin-bottom: 1rem;
  color: tomato;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
}
.form-container {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
    padding: 10px 30px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.email-div {
  position: relative;
  float: left;
}

.email-div:after {
  position: absolute;
  right: 7px;
    top: 13px;
  content: "@uvxcel.com";
}
.form-container .email-div input {
  padding-right: 127px;
}
form {
  display: flex;
  flex-direction: column;
}
.input-group,
.btn {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  background: none;
  outline: none;
  border: 2px solid rgb(204 204 204);
}
#fName,#lName,#otherDesignation{
  text-transform: capitalize;
}

.form-data label{
  font-size: 24px;
  font-weight: 500;
}
[type="date"]:invalid::-webkit-datetime-edit {
  color: rgb(155, 155, 155);
  text-align: center;
  text-transform: uppercase;
}
.btn {
  transition: 1s all;
  cursor: pointer;
  background-color: tomato;
  color: white;
}
.btn:hover {
  background-color: rgb(204, 46, 18);
  color: white;
}
#error {
  color: tomato;
  font-size: 19px;
  text-align: center;
}

.invalid {
  border: 2px solid red;
}


@media only screen and (max-width: 500px) {
  .form-container {
    width: 100%;
  }
  .form-container .email-div input {
    padding-right: 125px;
  }
}
