<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/addNewUser.css" />
    <link rel="stylesheet" href="./css/headers.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="log-div">
  <img
    src="https://img1.wsimg.com/isteam/ip/55c16b31-bdfb-4bad-acd1-4791836ecbc2/uvXcel%20Logo%20-%20Final.png/:/rs=w:217,h:84,cg:true,m/cr=w:217,h:84/qt=q:95"
    alt="Uvxcel"
  />
<h1>Attendance Cum Leave Management System</h1>
</div>
      <div id="main-container" class="form-container" style="margin-top: 3rem;">
        <h1>Login</h1>
        <form class="form-data">
          <label for="email">Email:</label>
          <input
            id="email"
            name="email"
            type="email"
            class="input-group"
            required
          />
          <label for="password">Password:</label>
          <input
            id="password"
            type="password"
            class="input-group"
            autocomplete="false"
            required
          />
          <button type="button" id="btn" class="btn" onclick="loginUser()">
            Login
          </button>
        </form>
        <p id="error"></p>
      </div>
    </div>
      {{>footer}}
    <script src="./js/login.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>