<nav aria-label="..." style="margin: 2rem auto;">
  <ul class="pagination">
    {{! <li class="page-item disabled">
      <a
        class="page-link"
        tabindex="-1"
        aria-disabled="true"
        onclick="changePageNumber('previous')"
      >Previous</a>
    </li>
    <li class="page-item"><a
        class="page-link"
        onclick="changePageNumber(1)"
      >1</a></li> }}
  </ul>
</nav>